In [1]:
import pandas as pd

In [2]:
cmsa = pd.read_csv("../data/cmsa_combined.csv", index_col="Unnamed: 0", parse_dates=True)

In [6]:
cmsa.columns

Index(['datetime', 'GAWW-11', 'GAWW-12', 'GAWW-14', 'vacation_dummy',
       'holiday_dummy', 'stringency_index', 'checkin_dam', 'checkout_dam',
       'checkin_nieuwmarkt', 'checkout_nieuwmarkt', 'hotel_gasten',
       'hotel_overnachtingen', 'airport_tot_passengers',
       'airport_arrived_passengers', 'airport_departed_passengers',
       'covid_cases', 'covid_hospital', 'covid_deaths', 'wind_direction',
       'wind_speed', 'wind_speed_10m', 'wind_gust', 'temperature',
       'dew_point_temperature', 'radiation_duration', 'global_radiation',
       'precipitation_duration', 'precipitation_h', 'pressure', 'sight',
       'cloud_cover', 'relative_humidity', 'fog', 'rain', 'snow', 'thunder',
       'ice'],
      dtype='object')

In [3]:
cmsa['datetime'] = pd.to_datetime(cmsa['datetime'])

cmsa['year']=cmsa['datetime'].dt.year 
cmsa['month']=cmsa['datetime'].dt.month 
cmsa['day']=cmsa['datetime'].dt.day
cmsa['dayofweek']=cmsa['datetime'].dt.dayofweek
cmsa['hour'] = cmsa['datetime'].dt.hour 
cmsa['minute'] = cmsa['datetime'].dt.minute

In [9]:
cmsa.columns

Index(['datetime', 'GAWW-11', 'GAWW-12', 'GAWW-14', 'vacation_dummy',
       'holiday_dummy', 'stringency_index', 'checkin_dam', 'checkout_dam',
       'checkin_nieuwmarkt', 'checkout_nieuwmarkt', 'hotel_gasten',
       'hotel_overnachtingen', 'airport_tot_passengers',
       'airport_arrived_passengers', 'airport_departed_passengers',
       'covid_cases', 'covid_hospital', 'covid_deaths', 'wind_direction',
       'wind_speed', 'wind_speed_10m', 'wind_gust', 'temperature',
       'dew_point_temperature', 'radiation_duration', 'global_radiation',
       'precipitation_duration', 'precipitation_h', 'pressure', 'sight',
       'cloud_cover', 'relative_humidity', 'fog', 'rain', 'snow', 'thunder',
       'ice', 'year', 'month', 'day', 'dayofweek', 'hour', 'minute'],
      dtype='object')

In [14]:
cmsa[(cmsa['hour'] >= 0) & (cmsa['hour'] <= 6)][['GAWW-11', 'GAWW-12', 'GAWW-14']].describe()

            GAWW-11       GAWW-12       GAWW-14
count  13664.000000  13664.000000  13664.000000
mean      37.686256     57.124341     21.144833
std       75.686392    114.523384     44.006643
min        0.000000      0.000000      0.000000
25%        4.000000      3.000000      1.000000
50%       16.000000     16.000000     12.000000
75%       31.000000     44.000000     20.000000
max     1096.000000   1060.000000    823.000000

In [18]:
cmsa.groupby('hour')[['GAWW-11', 'GAWW-12', 'GAWW-14']].mean()

         GAWW-11     GAWW-12    GAWW-14
hour
0     106.766906  154.394467  56.102971
1      58.445697  100.752049  30.353484
2      35.710041   61.645492  20.098361
3      22.863730   37.318135  14.435451
4      15.689037   22.341701  10.498463
5      12.124488   12.766906   7.855533
6      12.203893   10.651639   8.669570
7      16.836578   13.014344  11.202869
8      29.234119   22.708504  15.858094
9      38.579406   31.796107  20.457480
10     58.286885   50.994877  25.955430
11     89.477459   81.811988  33.541496
12    122.680328  119.628586  43.010758
13    144.171107  146.740266  48.512295
14    162.347336  171.110656  54.316598
15    176.117316  188.235143  58.995389
16    184.391393  195.750000  62.779713
17    193.063525  191.307889  63.471311
18    190.555328  176.366291  57.412910
19    183.486680  170.098873  51.892418
20    187.494365  196.874488  54.483094
21    181.636270  212.485656  65.809426
22    176.379611  227.429816  86.411885
23    141.272029  195.795082  74.390369

In [19]:
cmsa.groupby('month')[['GAWW-11', 'GAWW-12', 'GAWW-14']].mean()

          GAWW-11     GAWW-12    GAWW-14
month
1       32.847656   21.824544   9.997070
2       32.193080   22.334821   8.882812
3       32.353495   19.444556   9.415995
4       38.734722   28.309722  13.635417
5       75.629368   96.920699  28.402554
6      111.448958  154.790625  46.979514
7      169.250336  220.932460  74.656250
8      214.688172  260.922379  90.471438
9      157.984201  183.637153  65.599826
10     154.700605  180.005376  54.585349
11     118.973438   99.826910  39.058681
12      60.102823   52.278730  24.412970

In [20]:
cmsa.groupby('year')[['GAWW-11', 'GAWW-12', 'GAWW-14']].mean()

         GAWW-11     GAWW-12    GAWW-14
year
2020   71.549863   77.087517  25.365779
2021  117.393664  129.663442  45.841781
2022   65.104167   39.218750  28.937500

In [21]:
cmsa.groupby('dayofweek')[['GAWW-11', 'GAWW-12', 'GAWW-14']].mean()
# 0 = Monday

              GAWW-11     GAWW-12    GAWW-14
dayofweek
0           83.992301   92.911685  32.192784
1           84.477679   89.860714  31.690625
2           86.794643   95.017262  32.404464
3           91.856696  100.607143  34.383631
4          116.145089  121.507292  43.783631
5          159.891667  176.354167  65.386756
6          117.475393  138.056310  44.914100

In [25]:
sensors = ['GAWW-11', 'GAWW-12', 'GAWW-14']
gaww11 = cmsa.drop(['GAWW-12', 'GAWW-14'], axis=1)

gaww11.columns

Index(['datetime', 'GAWW-11', 'vacation_dummy', 'holiday_dummy',
       'stringency_index', 'checkin_dam', 'checkout_dam', 'checkin_nieuwmarkt',
       'checkout_nieuwmarkt', 'hotel_gasten', 'hotel_overnachtingen',
       'airport_tot_passengers', 'airport_arrived_passengers',
       'airport_departed_passengers', 'covid_cases', 'covid_hospital',
       'covid_deaths', 'wind_direction', 'wind_speed', 'wind_speed_10m',
       'wind_gust', 'temperature', 'dew_point_temperature',
       'radiation_duration', 'global_radiation', 'precipitation_duration',
       'precipitation_h', 'pressure', 'sight', 'cloud_cover',
       'relative_humidity', 'fog', 'rain', 'snow', 'thunder', 'ice', 'year',
       'month', 'day', 'dayofweek', 'hour', 'minute'],
      dtype='object')

In [27]:
gaww11.rename(columns={'GAWW-11':'crowd_count'}, inplace=True)
gaww11.columns

Index(['datetime', 'crowd_count', 'vacation_dummy', 'holiday_dummy',
       'stringency_index', 'checkin_dam', 'checkout_dam', 'checkin_nieuwmarkt',
       'checkout_nieuwmarkt', 'hotel_gasten', 'hotel_overnachtingen',
       'airport_tot_passengers', 'airport_arrived_passengers',
       'airport_departed_passengers', 'covid_cases', 'covid_hospital',
       'covid_deaths', 'wind_direction', 'wind_speed', 'wind_speed_10m',
       'wind_gust', 'temperature', 'dew_point_temperature',
       'radiation_duration', 'global_radiation', 'precipitation_duration',
       'precipitation_h', 'pressure', 'sight', 'cloud_cover',
       'relative_humidity', 'fog', 'rain', 'snow', 'thunder', 'ice', 'year',
       'month', 'day', 'dayofweek', 'hour', 'minute'],
      dtype='object')

In [28]:
# Lagged crowd
lags = [1,2,3,4,7,12,16,20,24]
for lag in lags:
    gaww11['crowd_lag_'+str(lag)] = gaww11['crowd_count'].shift(lag)

In [30]:
# Rolling mean
gaww11['rolling_mean'] = gaww11['crowd_count'].transform(lambda x: x.rolling(window=4).mean())

In [31]:
# mean crowd grouped by hour
gaww11['avg_hour_crowd'] = gaww11.groupby('hour')['crowd_count'].transform('mean')

# mean crowd grouped by day of week
gaww11['avg_dow_crowd'] = gaww11.groupby('dayofweek')['crowd_count'].transform('mean')

# mean crowd grouped by month
gaww11['avg_month_crowd'] = gaww11.groupby('month')['crowd_count'].transform('mean')

In [4]:
gaww11.columns

NameError: name 'gaww11' is not defined

In [33]:
gaww11.shape

(46848, 55)

In [39]:
# Try XGBoost

start_time_train = '2021-09-01 12:00:00'
start_time_val = '2021-12-01 12:00:00'
end_time_val = '2021-12-08 11:45:00'

train = gaww11[(gaww11['datetime'] >= start_time_train) & (gaww11['datetime'] < start_time_val)]
validation = gaww11[(gaww11['datetime'] >= start_time_val) & (gaww11['datetime'] <= end_time_val)]